* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  background-color: #FBFBFB;
  overflow-x: hidden;
}

@media (max-width: 1025px) {
  body {
    padding-bottom: 35px;
  }
}

.splide {
  visibility: unset !important;
}

.splide__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: unset;
  padding: unset;
  top: 0;
  -webkit-transform: unset;
          transform: unset;
  z-index: 1;
  left: unset;
}

.splide__arrow svg {
  width: unset;
  height: unset;
  fill: unset;
}

.splide__arrow--next {
  right: 0;
}

.splide__arrow--prev svg {
  -webkit-transform: unset;
          transform: unset;
}

.touch {
  width: 100%;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.ui-loader {
  display: none;
}

.ui-textinput {
  width: 100%;
}

.ui-focus {
  border: none;
  outline: none;
}

@media (max-width: 1024px) {
  .mobile-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.header {
  width: 100%;
  padding: 20px 0;
}

.header__logo {
  width: 100%;
  height: 100%;
}

.header__logo--img {
  width: 100%;
}

.header__search {
  width: 100%;
  max-width: 644px;
  border: 1px solid #DEDEDE;
  border-radius: 100px;
}

.header__search--input {
  width: 100%;
  margin-left: 33px;
  color: #707070;
  font-size: 15px;
  line-height: 17px;
  border: none;
  outline: none;
}

.header__search--btn {
  margin: 6px;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.header__search__bar {
  width: 100%;
  max-height: 50vh;
  padding-top: 15px;
  padding-bottom: 40px;
  display: none;
  position: absolute;
  background-color: #FBFBFB;
  -webkit-box-shadow: 0 8px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 8px 6px rgba(0, 0, 0, 0.16);
  z-index: 2;
  overflow: auto;
}

@media (max-width: 1025px) {
  .header__search__bar {
    position: fixed;
    height: 100%;
    max-height: 100%;
    top: 0;
    padding-top: 16px;
  }
}

.header__search__bar--left {
  color: #707070;
  font-size: 15px;
  line-height: 17px;
}

.header__search__bar--left a {
  margin-top: 5px;
  color: #40CF25;
  font-size: 13px;
  line-height: 17px;
  text-decoration: none;
}

.header__search__bar__list {
  margin-bottom: 20px;
}

.header__search__bar__list--li {
  list-style: none;
  margin-bottom: 8px;
}

.header__search__bar__list--link {
  text-decoration: none;
}

.header__search__bar__list--img {
  width: 41px;
  height: 41px;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.header__search__bar__list--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__search__bar__list--title {
  margin-left: 7px;
  color: #000;
  font-size: 13px;
  line-height: 17px;
}

.header__btns {
  height: 100%;
}

.header__btns--item {
  list-style: none;
  position: relative;
}

.header__btns--item--count {
  width: 24px;
  height: 24px;
  position: absolute;
  right: -8px;
  top: -7px;
  background-color: #42D921;
  border-radius: 50%;
  color: #fff;
  font-size: 13px;
}

.header__btns--link {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-decoration: none;
}

.header__btns--link--green {
  background-color: #42BE29;
}

.header__account {
  width: 164px;
  padding: 10px;
  margin-left: 18px;
  border: 1px solid #707070;
  border-radius: 29px;
  cursor: pointer;
}

.header__account--avatar {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #F3F3F3;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header__account--text {
  color: #2B2B2B;
  font-size: 12px;
  line-height: 16px;
}

.header__account--text--green {
  color: #42C028;
}

.header__mobile {
  position: relative;
}

.header__mobile__btns {
  position: absolute;
  right: 0;
}

.header__mobile__btns--search {
  background-color: transparent;
  border: none;
  outline: none;
}

.header__mobile__btns--btn {
  margin-left: 16px;
  background-color: transparent;
  border: none;
  outline: none;
}

.burger {
  background-color: transparent;
  position: absolute;
  left: 0;
  border: none;
  outline: none;
}

.m-header {
  background-color: #E5F4E2;
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-header__search {
  width: 100%;
  position: relative;
}

.m-header__search--input {
  width: 100%;
  padding: 12px;
  border-radius: 22px;
  border: 1px solid #5BC346;
  background-color: #fff;
  color: #707070;
  font-size: 14px;
}

.m-header__search .m-search-cancel {
  position: absolute;
  right: 12px;
  background-color: transparent;
  border: none;
  outline: none;
}

.m-header__menu {
  width: 100%;
  padding-top: 19px;
  padding-bottom: 11px;
}

.m-header__menu--li {
  width: 100%;
  list-style: none;
}

.m-header__menu--li:last-child .m-header__menu--figure {
  border-right: none;
}

.m-header__menu--a {
  color: #707070;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
}

.m-header__menu--a.active .m-header__menu--icon {
  background-color: #40CF25;
}

.m-header__menu--a.active path {
  fill: #fff;
}

.m-header__menu--figure {
  width: 100%;
  border-right: 1px solid rgba(112, 112, 112, 0.18);
}

.m-header__menu--icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-menu {
  background-color: #F3F3F3;
  border-radius: 100px;
  padding: 10px 28px;
  margin-bottom: 24px;
}

.head-menu__categories--item {
  margin: 0 12px;
  list-style: none;
}

.head-menu__categories--link {
  color: #2B2B2B;
  font-size: 15px;
  text-decoration: none;
}

.head-menu__categories--link:hover {
  color: #206DFC;
}

.splide__track, .splide__list, .splide__slide {
  height: 100%;
}

.main-slider {
  width: 100%;
  height: 260px;
  position: relative;
}

.main-slider__item {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
}

.main-slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-slider__navs {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.main-slider__navs--btn {
  width: 32px;
  height: 32px;
  position: absolute;
  border-radius: 11px;
  border: 1px solid rgba(112, 112, 112, 0.1);
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.main-slider__navs--next {
  right: 0;
}

.main-slider__pagination {
  bottom: -16px;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

.main-slider__pagination li {
  list-style: none;
  line-height: 0;
}

.main-slider__page {
  background: #B0B0B1;
  border: 0;
  border-radius: 50px;
  display: inline-block;
  height: 8px;
  margin: 0 4px;
  opacity: 1;
  padding: 0;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  width: 24px;
}

.main-slider__page.is-active {
  background: #4CC334;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.products-slider {
  width: 100%;
  margin-top: 38px;
  position: relative;
}

.products-slider .splide__track {
  margin-left: -9px;
  margin-right: -9px;
}

.products-slider__section {
  width: 100%;
  margin-bottom: 18px;
}

.products-slider__section--text {
  margin-right: 12px;
  color: #3D3D3D;
  font-size: 20px;
}

.products-slider__section--link {
  color: #40CF25;
  font-size: 20px;
  text-decoration: none;
}

.products-slider__navs {
  position: absolute;
  right: 0;
}

.products-slider__navs--btn {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 11px;
  border: 1px solid rgba(112, 112, 112, 0.1);
  outline: none;
  cursor: pointer;
  position: relative;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  background-color: #fff;
}

.products-slider__navs--next {
  right: 0;
}

.products-slider__item {
  margin: 9px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}

.products-slider__item.shop__item {
  margin: 0 0 24px 0;
}

.products-slider__item--fav {
  position: absolute;
  z-index: 1;
  right: 25px;
  top: 25px;
  background-color: transparent;
  border: none;
  outline: none;
}

.products-slider__item--footer {
  padding: 0 16px 20px 16px;
}

.products-slider__item--status {
  background-color: #E8EEFF;
  border-radius: 12px;
  padding: 1px 11px;
  line-height: 15px;
  font-size: 11px;
  color: #003CFF;
  margin-top: 20px;
}

.products-slider__item--status--green {
  background-color: #CEEDCC;
  color: #284D25;
}

.products-slider__item--price {
  margin-top: 5px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.products-slider__item--price--red {
  color: #E82828;
}

.products-slider__item--price--old {
  color: #131313;
  font-size: 13px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.products-slider__item--price--free {
  color: #41C227;
}

.products-slider__item--stars {
  margin-top: 14px;
}

.products-slider__item--stars--item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #003CFF;
  background-color: #fff;
  margin-right: 2px;
}

.products-slider__item--stars--item--active {
  background-color: #003CFF;
}

.products-slider__item--stars span {
  margin-right: 5px;
  color: #4E4E4E;
  font-size: 9px;
  line-height: 12px;
}

.products-slider__item--name {
  margin-top: 4px;
  color: #000;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}

.products-slider__item:hover .item-slider__navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-slider {
  width: 100%;
  height: 170px;
}

.item-slider__item {
  width: 100%;
  height: 170px;
}

.item-slider__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-slider__navs {
  width: 100%;
  position: absolute;
  z-index: 1;
  display: none;
  top: 100px;
}

.item-slider__navs--prev {
  left: 0px;
}

.item-slider__navs--next {
  right: 0;
}

.social-program-slider {
  width: calc(100% - 450px);
}

@media (max-width: 1199px) {
  .social-program-slider {
    width: calc(100% - 350px);
  }
}

.social-program-slider__navs {
  position: absolute;
  right: 0;
  top: -30px;
}

.social-program-slider__navs--btn {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 11px;
  border: 1px solid rgba(112, 112, 112, 0.1);
  outline: none;
  cursor: pointer;
  position: relative;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.social-program-slider__navs--next {
  right: 0;
}

.social-program-slider__item {
  margin: 9px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.social-program-slider__item.shop__item {
  margin: 0 0 24px 0;
}

.social-program-slider__item--cover {
  width: 100%;
  height: 171px;
}

.social-program-slider__item--cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.social-program-slider__item--text {
  padding: 13px 13px 17px 13px;
}

.social-program-slider__item--title {
  margin-bottom: 7px;
  color: #000;
  font-size: 14px;
  line-height: 19px;
}

.social-program-slider__item--desc {
  color: #5A5A5A;
  font-size: 13px;
  line-height: 17px;
}

@media (max-width: 1025px) {
  .social-program-slider__item--desc {
    height: 34px;
    overflow: hidden;
  }
}

.social-program-slider__item--price {
  margin-top: 15px;
  color: #575757;
  font-size: 13px;
  line-height: 17px;
}

.social-program-slider__item--price--green {
  color: #42D921;
  font-size: 18px;
  line-height: 24px;
}

.social-program-slider__item--price--line {
  width: 100%;
  height: 4px;
  margin-top: 2px;
  border-radius: 3px;
  background-color: #DFDFDF;
  overflow: hidden;
}

.social-program-slider__item--price--line--green {
  background-color: #42D921;
  height: 100%;
  border-radius: 3px;
}

.social-program-slider__item--btns {
  margin-top: 15px;
}

.charity-slider {
  position: relative;
  width: 100%;
}

.charity-slider__navs {
  width: 100%;
  position: absolute;
  right: 0;
  top: 80px;
}

.charity-slider__navs--btn {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 11px;
  border: 1px solid rgba(112, 112, 112, 0.1);
  outline: none;
  cursor: pointer;
  position: absolute;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  background-color: #fff;
}

.charity-slider__navs--next {
  right: 0;
}

.charity-slider__navs--prev {
  left: -20px;
}

@media (max-width: 1024px) {
  .main-slider {
    margin-bottom: 16px;
  }
  .products-slider__item {
    margin: 0 0 13px 0;
  }
  .social-program-slider {
    width: 100%;
    margin-top: 30px;
  }
}

.categories {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px 0 29px 18px;
}

.categories__shop {
  height: auto;
}

.categories--title {
  margin-bottom: 14px;
  color: #3D3D3D;
  font-size: 20px;
}

.categories__list {
  width: 100%;
  border-left: 2px solid #11FD00;
}

.categories__list--item {
  padding-left: 13px;
  line-height: 26px;
  list-style: none;
}

.categories__list--item:hover {
  background-color: #CEEDCC;
}

.categories__list--link {
  color: #707070;
  font-size: 14px;
  text-decoration: none;
}

.banner {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__mini {
  width: 100%;
  height: 176px;
  margin-top: 24px;
}

.banner__larg {
  width: 100%;
  height: 464px;
}

.products__section {
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 27px;
}

@media (max-width: 1025px) {
  .products__section {
    font-size: 18px;
    line-height: 24px;
  }
}

.products__section--text {
  color: #3D3D3D;
}

@media (max-width: 1025px) {
  .products__section--text {
    font-family: 'Bold';
  }
}

.products__section--link {
  margin-left: 12px;
  color: #40CF25;
  text-decoration: none;
}

.social-program {
  margin-top: 90px;
  margin-bottom: 80px;
}

.social-program__bg {
  background-color: #41C227;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  height: 479px;
  border-radius: 112px;
  margin-right: 41px;
  margin-left: 10px;
}

.social-program__content {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  margin-right: -41px;
  padding: 43px 0 43px 80px;
}

.social-program__text {
  width: 450px;
  padding-right: 80px;
}

@media (max-width: 1199px) {
  .social-program__text {
    width: 350px;
  }
}

.social-program__text--title {
  color: #fff;
  font-size: 76px;
  line-height: 69px;
}

.social-program__text--desc {
  margin-top: 15px;
  height: 76px;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
}

.social-program__text--link {
  margin-top: 24px;
  padding: 15px 25px;
  border-radius: 100px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  display: block;
}

.social-program__text--link:hover {
  background-color: #42D921;
}

@media (max-width: 1025px) {
  .social-program {
    margin-bottom: 170px;
  }
}

@media (max-width: 1024px) {
  .social-program__text {
    width: 100%;
    padding-right: 0;
  }
  .social-program__text--title {
    font-size: 56px;
  }
  .social-program__text--desc {
    width: 80%;
    height: 48px;
  }
  .social-program__bg {
    width: calc(100% + 100px);
    height: 600px;
    border-radius: 40px;
  }
  .social-program__content {
    width: calc(100% - 100px);
    padding: 58px 0 0 40px;
  }
}

.charity {
  margin-top: 55px;
  margin-bottom: 45px;
  padding: 79px 133px;
  border-radius: 112px;
  background-color: #F3F3F3;
}

.charity__text {
  padding-left: 30px;
}

.charity__text--title {
  color: #000;
  font-size: 76px;
  line-height: 69px;
}

.charity__text--title p {
  color: #41C227;
  font-size: 50px;
}

.charity__text--desc {
  height: 72px;
  color: #000;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
}

.charity__text--btns {
  margin-top: 38px;
}

.charity__text--li {
  margin-right: 11px;
  list-style: none;
}

.charity__text--btn {
  padding: 15px 28px;
  border-radius: 100px;
  border: 2px solid #41C227;
  color: #41C227;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}

@media (max-width: 769px) {
  .charity__text {
    padding-left: 0;
  }
}

@media (max-width: 1024px) {
  .charity {
    border-radius: 40px;
    padding: 19px 0 43px 44px;
  }
  .charity__text {
    padding-right: 50px;
  }
}

.news {
  padding: 15px 31px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.news li {
  list-style: none;
}

.news__item {
  text-decoration: none;
  margin: 15px 0;
}

.news__item--img {
  width: 154px;
  height: 128px;
  border-radius: 10px;
  overflow: hidden;
}

.news__item--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1025px) {
  .news__item--img {
    width: 100%;
  }
}

.news__item--text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 22px;
}

@media (max-width: 1025px) {
  .news__item--text {
    margin-left: 0;
  }
}

.news__item--title {
  color: #5B5B5B;
  font-size: 15px;
  line-height: 20px;
}

.news__item--desc {
  margin-top: 8px;
  color: #5A5A5A;
  font-size: 13px;
  line-height: 17px;
}

.news__item--date {
  margin-top: 8px;
  color: #A3A3A3;
  font-size: 13px;
  line-height: 17px;
}

@media (max-width: 1025px) {
  .news__item {
    margin-left: 18px;
  }
}

.ourshop__item {
  width: calc(100%/4);
  padding: 35px;
  list-style: none;
}

.ourshop__item--link {
  text-decoration: none;
}

.ourshop__item--img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.delivered {
  margin-top: 54px;
}

.delivered__item--img {
  width: 100%;
  max-height: 400px;
  height: 100vw;
  border-radius: 20px;
  overflow: hidden;
}

.delivered__item--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.delivered__item--title {
  margin-top: 24px;
  color: #000;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.delivered__item--desc {
  margin-top: 7px;
  color: #5A5A5A;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
}

@media (max-width: 1024px) {
  .delivered__item {
    margin-right: 18px;
  }
}

.footer {
  margin-top: 77px;
  background-color: #fff;
  -webkit-box-shadow: 0 -5px 0 rgba(177, 177, 177, 0.1);
          box-shadow: 0 -5px 0 rgba(177, 177, 177, 0.1);
}

.footer__content {
  padding: 50px 0;
}

.footer__content--status {
  margin-top: 15px;
  color: #6C6C6C;
  font-size: 16px;
  line-height: 21px;
}

.footer__content--app {
  margin-top: 20px;
}

.footer__content--app img {
  margin-right: 18px;
}

.footer__title {
  margin-bottom: 23px;
  color: #707070;
  font-size: 20px;
  line-height: 27px;
}

.footer__menu--item {
  list-style: none;
}

.footer__menu--link {
  margin-bottom: 8px;
  color: #535353;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}

.footer__menu--link img {
  margin-right: 9px;
}

.footer__payment--title {
  margin-top: 5px;
  margin-bottom: 12px;
  color: #707070;
  font-size: 15px;
  line-height: 20px;
}

.footer__payment--icon {
  margin-right: 7px;
}

.fix-bar {
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: -1px -3px 14px 0px rgba(0, 0, 0, 0.16);
          box-shadow: -1px -3px 14px 0px rgba(0, 0, 0, 0.16);
  padding-top: 10px;
  padding-bottom: 6px;
}

.fix-bar__lists--btn {
  list-style: none;
  background-color: #fff;
  -webkit-box-shadow: 2px -10px 6px -13px rgba(0, 0, 0, 0.16);
          box-shadow: 2px -10px 6px -13px rgba(0, 0, 0, 0.16);
  margin-top: -29px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 9px;
}

.fix-bar__lists--li {
  list-style: none;
}

.fix-bar__lists--link {
  color: #707070;
  font-size: 11px;
  line-height: 15px;
  text-decoration: none;
}

.fix-bar__lists--icon {
  margin-bottom: 5px;
}

.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.popup.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__container {
  width: 100%;
  max-width: 400px;
  max-height: 100%;
  background-color: #fff;
  border-radius: 20px;
  display: block;
  position: relative;
  overflow: auto;
}

@media (max-width: 1024px) {
  .popup__container {
    height: 100%;
    border-radius: 0;
  }
}

.popup__close {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 11px;
  right: 11px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .popup__close {
    right: unset;
    left: 18px;
    top: 19px;
  }
}

.sign-in {
  width: 100%;
  margin-top: 4px;
  padding: 32px;
}

@media (max-width: 1024px) {
  .sign-in {
    padding: 50px 32px;
  }
}

.sign-in.login {
  display: block;
}

.sign-in.register {
  display: none;
}

.sign-in__title {
  color: #3D3D3D;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 1024px) {
  .sign-in__title {
    position: absolute;
    width: 100%;
    top: 13px;
    left: 0;
  }
}

.sign-in__form {
  margin-top: 30px;
  width: 100%;
}

.sign-in__form--label {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.sign-in__form--input {
  width: 100%;
  padding: 15px 15px 15px 51px;
  border-radius: 100px;
  border: 1px solid #F2F2F2;
  background-color: #fff;
  color: #555555;
  font-size: 15px;
  outline: none;
}

.sign-in__form--icon {
  position: absolute;
  left: 19px;
}

.sign-in__form--btn {
  width: 100%;
  padding: 13px 0;
  border-radius: 39px;
  background-color: #42D921;
  font-size: 15px;
  color: #fff;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.sign-in__forgot {
  list-style: none;
  margin-bottom: 18px;
}

.sign-in__forgot a {
  color: #003CFF;
  font-size: 15px;
  text-decoration: none;
}

.sign-in__or {
  margin-top: 16px;
}

.sign-in__or--text {
  color: #555555;
  font-size: 15px;
}

.sign-in__or--btn {
  margin-right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.sign-in__register {
  margin-top: 18px;
}

.sign-in__register--text {
  color: #828282;
  font-size: 15px;
}

.sign-in__register--btn {
  background-color: #fff;
  padding: 13px 45px;
  border-radius: 39px;
  border: 2px solid #42D921;
  color: #42D921;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

.register__text {
  margin-top: 21px;
  text-align: center;
}

.register__text a {
  color: #1977F3;
  text-decoration: none;
}

.register__link {
  margin-top: 28px;
  text-align: center;
}

.register__link--btn {
  color: #41C227;
  font-size: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.register__btns {
  margin: 17px 0;
}

.register__btns--btn {
  padding: 5px 11px;
  border-radius: 30px;
  border: 1px solid #D1D1D1;
  background-color: transparent;
  color: #555555;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

.register__btns--btn.active {
  color: #42D921;
  border: 1px solid #42D921;
}

.register__step {
  margin-top: 0;
  display: none;
}

.register__step.active {
  display: block;
}

.profile {
  width: 100vw;
  max-width: 341px;
  display: none;
  position: absolute;
  top: calc(100% + 40px);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  background-color: #fff;
  z-index: 2;
}

.profile.active {
  display: block;
}

.profile__head {
  padding: 30px;
}

.profile__head--title {
  color: #000;
  font-size: 20px;
  margin-bottom: 4px;
}

.profile__head--mail {
  color: #40CF25;
  font-size: 15px;
}

.profile__menu {
  border-top: 1px solid #E6E6E6;
}

.profile__menu--li {
  width: 100%;
  list-style: none;
}

.profile__menu--link {
  padding: 7px 30px;
  display: block;
  color: #828282;
  font-size: 15px;
  text-decoration: none;
}

.profile__menu--link:hover {
  background-color: #F3F3F3;
}

.profile__logout {
  border-top: 1px solid #E6E6E6;
  padding: 17px 30px;
}

.profile__logout--btn {
  background-color: transparent;
  color: #206DFC;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

.mobile-profile {
  padding: 50px 0;
}
/*# sourceMappingURL=style.css.map */