.cart-popup {
    height: 100%;
    background-color: #fff;
    padding: 22px 30px;
}

.cart-item {
    width: 100%;
    background-color: #fff;
    box-shadow: $boxshadow;

    &__img {
        width: 96px;
        height: 96px;
        margin-right: 16px;
        border: 1px solid #E6E6E6;
        border-radius: 10px;
        overflow: hidden;

        img {
            max-width: 100%;
            object-fit: cover;
        }
    }

    &__content {
        width: min-content;

        &--text {
            margin-right: 35px;
        }
    }
}

.quantity {
    border-radius: 30px;
    border: .5px solid #959595;
    padding: 6px 9px;

    &__input {
        width: 100%;
        color: #000;
        font-size: 15px;
        text-align: center;
        border: none;
        outline: none;
    }

    &__btn {
        padding: 0 10px;
        color: #000;
        font-size: 15px;
        cursor: pointer;
    }
}

.cart-total {
    width: 100%;
    background-color: #fff;
    box-shadow: $boxshadow;

    &__head {
        border-bottom: 1px solid #E6E6E6;
        padding: 21px 31px;
    }

    &__body {
        padding: 21px 31px;
        .type {
            color:#206DfC;
            /*margin-left: 30px;*/
            font-size: 15px;
            font-family: bold;
            margin-left: 20px;
        }
        .shipping-type{
            font-size: 18px;
            font-family: bold;
            text-transform: capitalize;
            margin-top: 11px;
        }
        button{
            background-color:#42d921 ;
            color:white;
            font-size: 15px;
            font-family: bold;
            border-radius: 25px;
            border:none;
            outline: none;
            padding: 13px 47px;
            margin-left: 25px;
            margin-top: 15px;
        }
        .click{
            font-size: 15px;
            text-align: center;
            margin-top: 10px;
            font-family: regular;

        }
    }


    &__title{
        .title{
            color: #000000;
            font-family:bold;
            font-size: 20px;
            text-transform: capitalize;
        }
        .product{
            color:#000000;
            font-size:15px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-transform: capitalize;
            margin-top: 8px;
        }
        .sale{
            font-size:15px;
            text-transform: capitalize;
            margin-top: 8px;
        }
        .shipping-price{
            margin-top: 8px;
            text-transform:capitalize;
            font-size: 15px;
        }
    }
    &__desc{
        .desc{
            font-size: 30px;
            font-family:bold;
        }
        .classes{
            margin-top: 8px;
            font-size: 15px;
        }
    }
}
