* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

body {
    background-color: #FBFBFB;
}

$boxshadow: 0 3px 6px rgba(#000000, .16);

.splide {
    visibility: unset !important;

    // unset style
    &__arrow{
        display: flex;
        align-items: center;
        background: transparent;
        justify-content: center;
        opacity: unset;
        padding: unset;
        top: 0;
        // transform: translateY(-50%);
        transform: unset;
        z-index: 1;
        left: unset;
        
        &--next {
            right: 0;
        }
    }
}